/* redes */
.conteiner-redes, .boton-abajo, .nosotros {
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

/* estilo letra y img general */
.imgg {
  width: 100%;
}

h2 {
  font-style: oblique;
  color: #f8f9fa; /* map */
}

h1 {
  font-style: oblique;
  text-align: center;
}

div {
  width: 100%;
  height: auto;
}

.texx1 {
  color: #333;
}

.texx2 {
  display: flex;
  justify-content: space-evenly;
} /* termina */
.color-cont {
  background-color: darkred;
  display: flex;
  position: sticky;
  top: 0;
}
.color-cont .otra-class {
  justify-content: flex-end;
  color: #f8f9fa; /* map */
  font-size: 19px;
}
.color-cont .otra-class .col-nav {
  color: #f8f9fa; /* map */
}

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}
.btn-wsp {
  background: #20ba5a;
}

.wrap {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Los-hornos-de-lena-para-pizzerias-el-gran-secreto-de-su-exito1-1024x356.jpg);
  background-size: cover;
  background-position: center;
}

.wrap-texto {
  color: #fff;
  text-align: center;
  width: 50%;
}

.mid { /* grids */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr;
  grid-template-areas: "tex1 img1" "inf tex2" " img2 img2";
  background-color: black;
  color: aliceblue;
  font-style: oblique;
  align-items: center;
}

.elnosotros {
  grid-area: tex1;
}

.imgg1 {
  grid-area: img1;
}

.video {
  grid-area: inf;
}

.pp2 {
  grid-area: tex2;
}

.imgg2 {
  grid-area: img2;
}

.tam {
  margin: 20px;
  font-size: 24px;
}

/* grids */
.footerpages {
  background-color: darkred;
}

.footer-index {
  background-color: darkred;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
}

.maps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maps1 {
  border-radius: 15px;
}

.maps2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-abajo {
  text-decoration: none;
  color: aliceblue;
  /* aca */
  font-style: oblique;
}

/* pag contactos */
.conteiner-redes {
  justify-content: center; /* aca */
}
.conteiner-redes ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.conteiner-redes ul li .fa-facebook {
  background: #3b5999;
}
.conteiner-redes ul li .fa-instagram {
  background-color: #e4405f;
}
.conteiner-redes ul li .fa-youtube {
  background: red;
}
.conteiner-redes ul li .fa-whatsapp {
  background: #20ba5a;
}
.conteiner-redes ul li a {
  text-decoration: none;
  display: block;
  padding: 0 10px;
  text-align: center;
  background: #333;
  color: aliceblue;
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.conteiner-redes ul:hover a {
  filter: blur(2px);
}

.conteiner-redes ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
  filter: none;
}

.section-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #FFF;
}

.form-redes { /* cambio aca */
  display: flex;
  align-items: center;
}

.h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texx1 {
  color: #FFF;
}

.wrap-con {
  height: 55vh;
}

/* formulario y foto index */
.form1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

.text-form {
  font-size: 21px;
  color: #FFF;
}

.mods {
  height: 140px;
}

.cont-boton {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.boton-form {
  background-color: darkred;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.int-logo {
  width: 45%;
}

.sec-con {
  background: black;
}

.h-abj {
  color: #FFF;
}

/* galeria */
.text-gal {
  color: #FFF;
  text-align: center;
  font-style: oblique;
}

.tops {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: darkred;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}

.tops:hover {
  color: #fff;
}

.otr {
  position: relative;
}

.graund {
  background: black;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
}

.galeria a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.galeria .caru {
  width: 100%;
  vertical-align: top;
  height: 300px;
  transition: transform 0.5s;
}

.galeria a:hover .caru {
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3);
}

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.light-box .caru {
  width: 75vw;
  max-height: 70vh;
}

.light-box:target {
  transform: scale(1);
}

.close {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background: #fff;
  color: #851919;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.next {
  display: block;
  background: #fff;
  color: #851919;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
}

/* fin galeria */
/* neon  */
.contt1 {
  display: flex;
  margin-bottom: 40px;
}

.container1 {
  border: 2px solid white;
  box-shadow: inset 0 0 5px red, 0 0 10px red;
  border-radius: 60px;
  max-width: 400px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  color: white;
}

.neon {
  font-family: "Dancing Script", cursive;
  margin: 0;
  font-size: 50px;
  text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
}

.neon2 {
  font-family: monospace;
  letter-spacing: 8px;
  margin: 0;
  font-size: 20px;
  text-shadow: 0 0 5px yellow, 0 0 15px yellow, 0 0 30px yellow;
}

.neon3 {
  font-family: monospace;
  margin: 0;
  font-size: 20px;
  text-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px white;
}

.flicker1 {
  animation: parpadear 2s infinite backwards steps(3);
}

.flicker2 {
  animation: parpadear 2.5s infinite backwards steps(4);
}

.flicker3 {
  animation: parpadear 1.5s infinite backwards steps(2);
}

@keyframes parpadear {
  to {
    color: gray;
    text-shadow: none;
  }
}
/* neon */
@media screen and (max-width: 767px) {
  .decoa {
    margin: 0;
    padding: 0;
  }
  .video {
    height: 300px;
  }
  .mid {
    display: flex;
    flex-direction: column;
  }
  .imgg2 {
    display: none;
  }
  footer {
    flex-direction: column;
  }
  .maps1 {
    width: 75%;
  }
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
  .form-redes {
    flex-direction: column; /* cambio aca */
    margin: 10px;
  }
  .int-logo {
    display: none;
  }
  .texx2 {
    display: flex;
    flex-direction: column;
  }
  .wrap {
    height: 20vh; /* aca */
  }
  .contt1 {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1050px) {
  .tam {
    font-size: 16px;
  }
  .wrap {
    height: 40vh; /* aca */
  }
  .int-logo {
    display: none;
  }
  .contt1 {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
