/* redes */
.conteiner-redes, .boton-abajo, .nosotros {
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

/* estilo letra y img general */
.imgg {
  width: 100%;
}

h2 {
  font-style: oblique;
  color: #f8f9fa; /* map */
}

h1 {
  font-style: oblique;
  text-align: center;
}

div {
  width: 100%;
  height: auto;
}

.texx2 {
  display: flex;
  justify-content: space-evenly;
} /* termina */
.color-cont {
  background-color: darkred;
  display: flex;
  position: sticky;
  top: 0;
}
.color-cont .otra-class {
  justify-content: flex-end;
  color: #f8f9fa; /* map */
}
.color-cont .otra-class .col-nav {
  color: #f8f9fa; /* map */
}

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}
.btn-wsp {
  background: #20ba5a;
}

.mid { /* grids */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr;
  grid-template-areas: "tex1 img1" "inf tex2" " img2 img2";
  background-color: black;
  color: aliceblue;
  font-style: oblique;
  align-items: center;
}

.elnosotros {
  grid-area: tex1;
}

.imgg1 {
  grid-area: img1;
}

.video {
  grid-area: inf;
}

.pp2 {
  grid-area: tex2;
}

.imgg2 {
  grid-area: img2;
}

.tam {
  margin: 20px;
  font-size: 20px;
}

/* grids */
.footerpages {
  background-color: darkred;
}

.footer-index {
  background-color: darkred;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
}

.maps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maps1 {
  border-radius: 15px;
}

.maps2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-abajo {
  text-decoration: none;
  color: aliceblue;
  /* aca */
  font-style: oblique;
}

/* pag contactos */
.conteiner-redes {
  justify-content: center; /* aca */
}
.conteiner-redes ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.conteiner-redes ul li .fa-facebook {
  background: #3b5999;
}
.conteiner-redes ul li .fa-instagram {
  background-color: #e4405f;
}
.conteiner-redes ul li .fa-youtube {
  background: red;
}
.conteiner-redes ul li .fa-whatsapp {
  background: #20ba5a;
}
.conteiner-redes ul li a {
  text-decoration: none;
  display: block;
  padding: 0 10px;
  text-align: center;
  background: #333;
  color: aliceblue;
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.conteiner-redes ul:hover a {
  filter: blur(2px);
}

.conteiner-redes ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
  filter: none;
}

.section-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-redes { /* cambio aca */
  display: flex;
  align-items: center;
}

.h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .decoa {
    margin: 0;
    padding: 0;
  }
  .video {
    height: 300px;
  }
  .mid {
    display: flex;
    flex-direction: column;
  }
  .imgg2 {
    display: none;
  }
  footer {
    flex-direction: column;
  }
  .maps1 {
    width: 75%;
  }
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
  .form-redes {
    flex-direction: column; /* cambio aca */
  }
  .texx2 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1050px) {
  .tam {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
